[2020-06-10 13:33] Leonardiae opened #162 "Socket timeout has been expired"
Seeing a lot of socket timeout warnings on the APM console (after 1-4 retries it is succesfull most of the time):

[code]

vBitcoin debug.log only shows that the rpc was called, nothing else:
`2020-06-10T13:30:13Z VeriBlock-PoP: submitpop RPC called with 1 ATV and 15 VTBs`

[2020-06-10 13:41] Leonardiae opened #163 "Clarify the listconfig response for securityInheriting.vbtc.autoMineRounds"
I think the automineround settings can be improved when using listconfig:
[code]
I was expecting to see something like this instead: securityInheriting.vbtc.autoMineRounds=[1,2,4]

[2020-06-10 13:47] Warchant commented on #163
As I recall, @PCasafont mentioned that listconfig does not support printing/assigning of arrays (yet).

[2020-06-10 13:47] overcookedpanda commented on #162
This is happening for me locally as well, it seems to happen when the vBTC chain has stalled, or blocks are slow.

[2020-06-10 13:49] Leonardiae opened #164 "Failed operation"
I saw a few operations fail today. I have not able to pinpoint the cause.
The apm.log shows:
`2020-06-10 10:17:42.045+0200 WARN [pop-tasks-26] o.v.m.p.s.TaskService [OperationLogging.kt:51] [vbtc9130c8d3] Task 'Submit Proof of Proof' has failed: Error submitting proof of proof`

Only thing I noticed is that in the vbitcoin debug.log around the same time shows: `Doing POP fork resolution in VBK. `

[2020-06-10 13:51] Leonardiae opened #165 "Mining older blocks causing issues"
Mining an old block, causes the operation to stay in the SUBMIT_POP_TRANSACTION state

I think because of this:
2020-06-10 10:07:42 pop-tasks- WARN  ApmTaskService            - Error submitting proof of proof: Failed to perform request to the API: invalid pop tx script (VTB is invalid)

Maybe a check can be added to prevent mining too old blocks.

[2020-06-10 13:53] Leonardiae opened #166 "Api returns error 500 when running api/miner/mine & 20 running operations exist"
When there are already 20 operations running, the api/miner/mine command returns a 500 error.
I expect a response with a failed and a reason like: There are 20 other operations in progress

[2020-06-10 14:01] Warchant commented on #162
TLDR - this is performance issue. Will be solved in next releases.

This happens because we lock main mutex when vBTC does any state change.
And it is held until state change is complete.

The alt-cpp lib is not optimized too much, and it can do thousands state changes internally upon every vBTC state change, which significantly decreases performance...

[2020-06-10 14:45] Leonardiae commented on #162
I think you are right, even if I do a simple getblockcount RPC call directly to vBitcoin it often times out.

[2020-06-10 14:54] Warchant commented on #162
Basically if your node is not doing sync or pow mining (with pop txes), it will be responsible as usual.

[2020-06-10 14:57] BernatCarbo commented on #163
Solved at https://github.com/VeriBlock/nodecore/commit/77e6134fadeffcb3af4efe662a5e4475ee5312ef

[2020-06-10 15:12] Warchant commented on #165
On vBTC side there's a check that you can't mine a pop tx which contains endorsement of a block more than 50 blocks behind a block that contains this pop tx.

[2020-06-10 15:30] BernatCarbo commented on #166
It displays the next message:
[code]

[2020-06-10 15:38] Leonardiae commented on #165
OK, but on the APM side I think I can start an operation which then tries to submit the PoP but is denied until the threshold is reached and only then is marked as failed.

Maybe vBTC can accept the PoP (but pay no reward) and the APM wont start operations with a block less than x from the tip?

[2020-06-10 15:46] Leonardiae commented on #162
[code]

Node was not doing any mining and all operations in the Altpopminer are waiting for payout block.
Few seconds later:
[code]

My point is that this is not what I usual see on other nodes I'm running. But I guess this is related to what you told earlier regarding the performance issues.

[2020-06-10 15:46] Warchant commented on #165
@Leonardiae it is not as easy as it sounds. Technically, if current tip is 100, and block 50 is endorsed, you're saying that APM should not allow sending such pop tx.
But if reorg occurs, and suddently tip becomes 99, this pop tx might be added into blockchain in block 100.

[2020-06-10 15:56] Leonardiae commented on #166
Hmm yes with that curl command I get the same response.

But when I call this C# function I't successfull when less than 20 operations are running but with 20 running operations I get this exception: "The remote server returned an error: (500) Internal Server Error."

[code]

[2020-06-10 15:59] Leonardiae commented on #165
OK, I see your point. And what about accepting the PoP and not pay a reward if it's too old?

[2020-06-10 16:02] BernatCarbo commented on #165
If there is a check that condemns an operation to fail, I think that we should prevent such operations to be started on the apm side, or at least try to reduce the chance to happen

[2020-06-10 16:29] BernatCarbo commented on #166
Looks like that's a problem on your c# code... Try something like this:
[code]
That's because we're standardizing the error messages into json objects rather than just strings.

[2020-06-10 18:45] Leonardiae opened #168 "Operation with status submitted cant be found on Veriblock blockchain"
Because I have seen this several times now I create an issue for this: There are operations which dont go past this status: Endorsement Transaction submitted | Confirm Endorsement Transaction

`vbtcb3aedcaf: vBitcoin (924 -> 974) | Endorsement Transaction submitted | Confirm Endorsement Transaction`

apm.log shows:

`2020-06-10 20:30:48.683+0200 INFO [pop-tasks-11] o.v.m.p.s.ApmTaskService [Operat

[2020-06-10 19:49] #163 closed, assigned to BernatCarbo

[2020-06-11 06:53] Leonardiae commented on #166
Thanks. That works in the sense that I see the message but I was not expecting an 500 error code but rather a 200 code with the message in the response json.

But I read here [(link)](https://stackoverflow.com/questions/27921537/returning-http-200-ok-with-error-within-response-body) that this is debatable so I leave that for the team to decide, if you say this is OK, then I'm fine with it :)

[2020-06-11 09:17] Leonardiae commented on #168
Hmmz:

[code]

[2020-06-11 09:37] BernatCarbo commented on #166
Yes, we will standardize the error codes soon :).

[2020-06-11 13:54] #166 closed, assigned to BernatCarbo

[2020-06-12 06:32] Leonardiae opened #176 "After vBitcoin is stopped the .lock file is not deleted"
After stopping vBitcoin the .lock file is not deleted from the testnet3 folder. I tried shutting down vBitcoin-qt with the X (top right) and with [File] [Exit]. Also tried vBitcoind shutting down with Ctrl-C and with vBitcoin-cli -stop, but the .lock file is not deleted.

I'm running Windows 10 btw.

[2020-06-12 07:38] Leonardiae opened #177 "vbitcoinqt does not show it's working on comparePopScore while syncing"
After vBitcoinQt is started it's reindexing blocks on disk for a few minutes and after that shows the status (right below): Up to date. Processed 1545 block(s) of transaction history. It looks like it's ready and only if you run getdebuginfo in the APM do you know that it's not. Apparently the node is still doing something. After a while (~20 minutes) it starts Processing blocks on disk and when t

[2020-06-12 08:06] Leonardiae opened #178 "Remove brackets from message"
May I suggest to remove the brackets from this message, because it's making it easier to prevent a mistake where someones could copy the ] and it makes it a bit easier to copy the address.

[code]

[2020-06-12 08:09] Leonardiae opened #179 "Show incoming VBK transactions on the APM console"
When sending VBK to the APM no message is shown when the incoming transaction is detected (like the VPM does).

[2020-06-12 08:27] Leonardiae opened #180 "Check if connected nodecore is same network as configured"
It's possible to configure a testnet nodecore and connect it to a mainnet nodecore. A testnetwallet is created but the mistake is not detected by the APM. After correcting the node in application.conf and starting the apm it can't sync because of this error:

`2020-06-12 10:26:05 nc-poll    WARN  NodeCoreNetwork           - NodeCore Error: Unable to retrieve changes since VBK block 00000000000016E

[2020-06-12 09:06] Leonardiae commented on #179
Hmm, just sending VBK again and now it shows an incoming transactions. Apparently this does not happen always and only in some cases it's not detected.

[2020-06-12 09:23] Leonardiae opened #181 "APM marked as ready while vBitcoin still syncing"
vBitcoin syncing takes are while at the moment. If you start an APM (for example with running operations) the miner is marked as ready despite being connected to a vBitcoin node which is not done syncing.

`2020-06-12 09:03:01.265+0200 INFO [event-listener] o.v.m.p.s.AltchainPoPMiner [AltchainPopMinerService.kt:107] Miner is ready!`

After this the APM starts trying to connect to vBitcoin to updat

[2020-06-12 12:55] overcookedpanda commented on #177
I will look into this on the QT side, but it's possible that it affects more than just the QT wallet.  I noticed that `getblockcount` was sometimes returning `0` during this period as well.

[2020-06-12 15:58] overcookedpanda commented on #177
As an update @Leonardiae I've added this to the beta milestone, and confirmed your findings that the daemon is not considering that additional time is needed for full sync.  It affects vbitcoind as well as vbitcoin-qt

[2020-06-13 06:47] Leonardiae opened #188 "Add API endpoint to change runtime values from config"
There is no API yet to change the runtime values from the config file like feePerByte, maxFee and autoMineRounds

[2020-06-13 07:41] Leonardiae opened #189 "Unable to load suspended operations after upgrading"
After upgrading from altchain-pop-miner-0.4.9-rc.5.dev.12 to altchain-pop-miner-0.4.9-rc.5.dev.26 by copying:
- altchain-pop-miner.db
- vbk-testnet.spvchain.spvchain
- vbk-testnet.txmon
- vbk-testnet.wallet

I get this error
`2020-06-13 09:39:02 main       ERROR AltchainPoPMiner          - Unable to load suspended operations: Expected wire type 2, but found 0`

[2020-06-13 08:03] Leonardiae commented on #189
I had to delete altchain-pop-miner.db to fix this error.

[2020-06-15 13:08] Leonardiae opened #197 "Create endorsement VBK transaction failed because deadline exceeded"
Creating the endorsement VBK transaction failed. Apparently my Nodecore was busy or inresponsive for a while. It looks like there's a timeout of just 2 seconds, isn't that a bit short? The result is that the operation is failed and maybe with a longer timeout or retry at a later moment could have been saved.

[code]

[2020-06-15 13:14] BernatCarbo commented on #180
Solved at https://github.com/VeriBlock/nodecore/commit/6ca222298cd494638be8a5e1c793240607feae80

[2020-06-15 16:11] #180 closed, assigned to BernatCarbo

[2020-06-16 05:16] Leonardiae opened #199 "Add a command like viewrecentrewards"
Can you please add a command like viewrecentrewards on VPM which shows at least the endorsed block, the altchain, (projected) reward and in which block it's paid and if possible the VBK fee paid.

[2020-06-16 07:04] Leonardiae opened #200 "No console logging when vBitcoin transaction confirmed"
After submitting a tx to vBitcoin the next step is waiting for the transaction to confirm. But no message is shown when the tx is confirmed in a block. Only after 10 confirmations do I see the result. In the mean time I don't know if the transaction is still in the mempool, failed for some reason or already confirmed.

Is it possible to add logging of the vBitcoin transaction status to the console

[2020-06-16 14:59] PCasafont commented on #165
https://github.com/VeriBlock/nodecore/commit/c09cd8d74ec86ef4260c0bf98424b3afe5785c3b

[2020-06-16 15:03] BernatCarbo commented on #200
Solved at https://github.com/VeriBlock/nodecore/commit/e4c195b98d5d69dcf48de6d2260fc1e1f70465e1

[2020-06-16 15:03] #200 closed, assigned to BernatCarbo

[2020-06-16 15:07] #165 closed, assigned to BernatCarbo

[2020-06-17 06:46] Leonardiae opened #207 "Status 'VBK Publications submitted' is confusing"
The last done status in the case below is 'VBK Publications submitted'. This confuses me because when checking more details with getoperation this shows that PoP VTB is submitted to vBitcoin.

Maybe the status means: VBK Publications submitted to vBitcoin, but I read it like VBK publications submitted to Veriblock.

May I suggest something like 'VBK PoP submitted to vBitcoin'

`vbtc0c70c983: vBitc

[2020-06-17 07:04] Leonardiae opened #208 "Operations stuck on Get VBK Publications"
vbtc27e1f290: vBitcoin (184 -> 224) | PoP Transaction Confirmed | Wait for Payout Block
vbtca7c07d4e: vBitcoin (185 -> 225) | Keystone of Proof retrieved | Get VBK Publications
vbtcf4545c0f: vBitcoin (186 -> 226) | Keystone of Proof retrieved | Get VBK Publications
vbtc1490ed0b: vBitcoin (187 -> 227) | PoP Transaction Confirmed | Wait for Payout Block

Two operations get stuck on Get VBK Publicati

[2020-06-17 07:13] Leonardiae opened #209 "Failed operations don't show in listoperations anymore"
I was researching why operations vbtca7c07d4e and vbtcf4545c0f were not progressing like the other operations.

[code]
While doing this the operation was marked as failed:

[code]
To my surprise after this the operations do not show up anymore in listoperations:

[code]

In this case I was watching closely and knew this operation ID because it was in the list before else I would not have known thi

[2020-06-17 13:31] BernatCarbo commented on #188
Solved at https://github.com/VeriBlock/nodecore/commit/0ed14dab5fe58105155c10e5c91eb58e53dce996

[2020-06-17 13:33] #188 closed, assigned to BernatCarbo

[2020-06-19 05:31] Leonardiae opened #215 "VTB contains an endorsement after provided keystone - Info log"
Seeing this on my Nodecore, is this justly?

[code]

[2020-06-19 11:10] Leonardiae opened #216 "Wait with submitpop until node is synced / connection success"
I noticed a node being almost 10 blocks behind. Now and then a block is added but the node seems not to be able to catch up to the tip again. In the mean time the APM tries and retries to call the submitpop rpc which keeps failing. Only after I closed the APM was the node able to catch up in ~15 minutes.

Don't know if this is possible but maybe it's better to wait with submitrpc until the node is

[2020-06-19 13:15] BernatCarbo commented on #209
Solved with https://github.com/VeriBlock/nodecore/commit/92a3b568e65d824bedff5b7566ce3535f7f72fb0

For that case the command would be: listoperations failed

[2020-06-19 13:15] #209 closed, assigned to BernatCarbo

[2020-06-19 13:16] BernatCarbo commented on #199
Solved with https://github.com/VeriBlock/nodecore/commit/92a3b568e65d824bedff5b7566ce3535f7f72fb0

For that case the command would be: listoperations completed

[2020-06-19 13:16] #199 closed, assigned to BernatCarbo

[2020-06-24 14:44] BernatCarbo commented on #178
Solved with https://github.com/VeriBlock/nodecore/commit/682c6eb08c201a03ea786c35ba119f5d0343c5c7

[2020-06-24 14:44] #178 closed, assigned to BernatCarbo

[2020-06-24 14:44] BernatCarbo commented on #181
Solved with https://github.com/VeriBlock/nodecore/commit/682c6eb08c201a03ea786c35ba119f5d0343c5c7

[2020-06-24 14:45] #181 closed, assigned to BernatCarbo

[2020-06-24 16:47] BernatCarbo commented on #189
That's because we did breaking changes during the beta release, is not intended to happen after the first final release of APM.

[2020-06-24 16:47] #189 closed, assigned to BernatCarbo

[2020-06-24 18:00] Leonardiae commented on #189
Ok, thanks for your response.

[2020-06-24 18:01] Leonardiae commented on #181
Thanks!

[2020-06-24 19:07] BernatCarbo commented on #216
This seems to be related with the node, at the APM side we could add some checks to be sure that the node is fully ready to receive any rpc call, but still the node should be able to handle it, @Warchant what do you think?

[2020-06-24 19:18] Warchant commented on #216
@BernatCarbo there's no way to determine if node is syncd besides one I described you already :(

We can improve UX if we block `getpopdata` rpc call until the InitialBlockDownload is false (will be added shortly)

[2020-06-29 15:41] Warchant commented on #216
@BernatCarbo it is already there https://github.com/VeriBlock/vbk-ri-btc/blob/6578933f0d1bc7a3f728e1b7b20899ffe15ed502/src/vbk/rpc_register.cpp#L137

We can't do better sync check than current.

[2020-06-29 15:41] #216 closed, assigned to Warchant, BernatCarbo

[2020-06-30 10:04] BernatCarbo commented on #216
At the APM side, we added a node check before each APM task, that should help as well: https://github.com/VeriBlock/nodecore/commit/76861e8410b8ca15e59466b7504961f195477809

[2020-06-30 10:18] BernatCarbo commented on #197
The timeout for that task is (actually) 90 seconds which should be more than enough. Also the nodes will be checked before each task to ensure that are responsive/synchronized etc. If for any reason the the node check fails the task will enter into the re-try process and warn the user.

https://github.com/VeriBlock/nodecore/commit/76861e8410b8ca15e59466b7504961f195477809

Looking at your log, we w

[2020-06-30 12:51] BernatCarbo commented on #197
My bad, this timeout exception is not from the task itself (which is 90s) but yes, there was a 2s timeout somewhere else, should be solved with: https://github.com/VeriBlock/nodecore/commit/53f6400b2725ae87e603647def084536847f3f1e

[2020-06-30 12:52] Leonardiae commented on #197
Thanks :)

[2020-06-30 12:54] #197 closed, assigned to BernatCarbo

[2020-07-11 08:51] Leonardiae opened #242 "Error when no payoutAddress is configured"
When not payoutAddress is configured in application.config
`    payoutAddress: `
the APM throws an error when it's started:
[code]

[2020-07-11 08:57] Leonardiae opened #243 "Long warning when user forgets to set payout address"
When you forget to set the payout address, which is by default set to a placeholder text, a long warning

`2020-07-11 10:52:29 main       WARN  PluginService             - Unable to load plugin vbtc (btc impl) from config: Invalid segwit address: generatePayoutScriptFromSegwitAddress cannot be called with an address which isn't the length of 39 or 59 + hrp + 1! Provided address: INSERT PAYOUT ADDR

[2020-07-11 15:39] Leonardiae opened #244 "APM does not respond to CTRL-C (on Windows)"
Nodecore and the VPM can be shutted down gracefully with CTRL-C. But the APM does not (seem to) respond to this command.

[2020-07-11 23:24] BernatCarbo commented on #243
Solved with https://github.com/VeriBlock/nodecore/commit/6076beb9b38381f27b1bebc31fea42d9024abda3

[2020-07-11 23:24] #243 closed, assigned to BernatCarbo

[2020-07-11 23:52] BernatCarbo commented on #242
This actually happens with all the configuration values, we will take a look!

[2020-07-13 11:33] BernatCarbo commented on #244
It behaves like the VPN for me, it shuts down when CTRL+C is pressed, can you recheck it?

[2020-07-13 12:56] Leonardiae opened #245 "Error when APM is started twice"
When the APM is started twice, an error occurs. This makes sense, but maybe it's possible to show the user a message which tells what's wrong (probably the miner started twice).

[code]

[2020-07-13 12:58] Leonardiae commented on #244
When I press CTRL-C the only reponse is that the cursor jumps to the next line, but the APM stays active. Also after waiting for like 10 minutes.

[2020-07-13 13:40] BernatCarbo commented on #245
Solved with https://github.com/VeriBlock/nodecore/commit/c1b0937e9d7456e849a43abb9593bbb1e57f3345

You can start twice the APM but not over the same data folder :)

[2020-07-13 13:42] #245 closed, assigned to BernatCarbo

[2020-07-13 14:19] Leonardiae commented on #245
Thanks @BernatCarbo

[2020-07-13 15:37] BernatCarbo commented on #242
There is not much to do about this, we will display the same message (not the whole stack) which directly shows that something is wrong with the configuration, and in such case, the default configuration will be auto-loaded.

https://github.com/VeriBlock/nodecore/pull/167

[2020-07-13 15:42] Leonardiae commented on #242
Sounds good to me. Thanks.

[2020-07-13 15:42] #242 closed, assigned to BernatCarbo

[2020-07-13 17:09] Warchant commented on #244
@Leonardiae are you using docker image?

[2020-07-13 17:31] Leonardiae commented on #244
Nope, just running it on Windows 10.

[2020-07-17 06:35] Leonardiae opened #252 "Ony segwith / bech32 addresses are supported as payoutaddress"
Just posting this to make sure this works as intended: is it correct that the payout address has to be a bech32 address, and a native address is not supported?

`2020-07-17 08:33:09 main       WARN  PluginService             - Unable to load plugin vbtc (btc impl) from config: Invalid segwit address: generatePayoutScriptFromSegwitAddress cannot be called with an address which isn't the length of 3

[2020-07-18 11:37] Leonardiae opened #256 "After restoring old operation not marked as failed"
When starting the APM again after ~24 hours, several operations are marked as successfull or failed and then cleaned from the list. Except this operation which is still waiting to see the endorsement transaction. Because the pay-out block (4628) is already past (current block is 5484) I think this operation should be marked as failed and cleaned up as well.

[code]

[2020-08-05 08:34] Leonardiae commented on #244
Using latest APM altchain-pop-miner-0.4.10-dev.82, this works.

[2020-08-05 08:34] #244 closed, assigned to BernatCarbo

[2020-08-05 20:51] Leonardiae opened #292 "*2 blocks are not automined anymore"
For some reason blocks ending on a 2 are not automined:

[code]

the automineround setting is set to 1,2,4:

[code]

[2020-08-06 05:48] Leonardiae commented on #292
Ah, apparently now there is a round 3 which mines every *2 block. When I add round 3 to autoMineRounds, then this blocks are mined. When I remove it they are not.

Assuming this behaviour is correct, please change this comment in application.conf:
`    // This can be set to [1,2,4]`

[2020-08-06 16:20] Warchant commented on #292
Added comment to default config.

[2020-08-06 16:20] #292 closed, assigned to nobody

[2020-08-06 16:21] Warchant commented on #162
No longer true in Beta.

[2020-08-06 16:21] #162 closed, assigned to nobody

[2020-08-06 19:39] Leonardiae commented on #292
Thanks

[2020-08-10 07:21] Leonardiae opened #301 "vBitcoin not listening to rpcport setting in config file"
In vBTC-alpha-master.138-4786392 the -rpcport parameter is not in the vbitcoin.config file anymore. When added and changed to another port the default 18332 port is still being used despite a different port being set in the config file.

[2020-08-10 09:57] Leonardiae opened #302 "Why check if endorsed block is confirmed"
After the vBitcoin ATV is confirmed the workflow is waiting for the vBitcoin endorsed block to be confirmed, which always (as far as I have seen) true and immediately marked as confirmed.

This check feels unnecessary to me because without at least one confirmation the workflow would not progress to this point.

But maybe I'm missing something here. For example that more than 1 confirmations are n

[2020-08-10 15:30] Warchant commented on #301
[code]

This setting is section-specific, so you should change it in according section (test/regtest)

[2020-08-11 06:54] Leonardiae commented on #301
Yes you are right. Thanks, I learned something, again :)

[2020-08-11 06:54] #301 closed, assigned to nobody

[2020-08-13 12:35] Leonardiae opened #306 "listoperations does not show more than 50 operations"
listoperations does not show more than 50 operations, is there a way to see all of them or at least all that are running (not paid yet)?

[2020-08-17 06:38] Leonardiae commented on #306
If it's not possible to show more than x operations I would prefer the most recent operations to be shown first. That way if not all operations can be shown some of the older ones are not displayed instead of the latest.

[2020-08-18 07:04] Leonardiae opened #309 "Error while trying to get PoP Mining Instruction from vBitcoin: Timed out"
Lately I see this case frequently in the APM:

[code]

This happens when I start a new mining operation every 5 seconds. After a while the operations are running as usual again. But there are times when all operations are like this for a ~10 minute period.

[2020-08-18 08:46] Warchant commented on #309
Does vbtc write anything in log when this happens?

[2020-08-18 08:53] Leonardiae commented on #309
Not really, (I think):

<details>
<pre>
<code>
2020-08-18T06:49:27Z [] [alt-cpp] [info] comparePopScore: Chain A remains the best chain
2020-08-18T06:49:27Z [] [alt-cpp] [info] comparePopScore: Doing ALT POP fork resolution. Best=ALT:8928:32546e7597d7c90ac90659a3978fcf49830d88d75fe4d026feebac4801000000, Candidate=ALT:8921:3d98363b02c9170ac82d91e15bfb7b11b6b13998acf790bcd466a2670c000000
2020-08-18T

[2020-08-18 09:36] Warchant commented on #309
Is vbtc node responsive during this 10 min period? You can check by submitting any rpc call

[2020-08-18 19:02] Leonardiae commented on #309
I think it responds to rpc calls but I'm not entirely sure. When I see it happen again, I'll try.

[2020-08-18 19:33] Leonardiae commented on #309
I just saw it happening again. I was able to go to the console and get a response to Getblockcount several times with an instant response.

It looks like a threading issue to me. After a while suddenly a response is incoming for all operations at once (which are not failed yet at that time).

[2020-08-19 06:01] Leonardiae opened #310 "Operation has been cancelled for taking too long during task 'Confirm transaction'"
One error I see frequently on the APM is:
`2020-08-19 07:41:33 pop-tasks- WARN  MiningOperation           - [vbtc0089040d] Failed: Operation has been cancelled for taking too long during task 'Confirm transaction'.`

I believe in this case it's caused by a transaction being added to the network right before a new Veriblock block is found:

[code]

Nodecore log shows:

[code]

Here the complete ope

[2020-08-19 06:07] Leonardiae commented on #310
One can see this phenomenon clearly when stress testing Nodecore and adding a transaction every (say) 250 milliseconds. You count how many transactions are created and how many make it into the next block. There is often a difference and this amounts to the transactions added in the last seconds before the new block is found.

In this case 120 transactions are created in 30 seconds. Say ~100 will

[2020-08-20 06:22] Leonardiae opened #315 "New best block(s)"
I noticed in my logs that it often happens that the latest block is being overwritten. I just checked the logs of one of those cases and wonder why this happens in this case:

For some reason there seem to be three different block hashes available for block 9216:
f423d9ea050ea1b94c0fb66e9d64b96f4475aa0893fa5f999df73c8738000000
00000038873cf79d995ffa9308aa75446fb9649d6eb60f4cb9a10e05ead923f4
000000

[2020-08-20 14:08] Warchant commented on #315
@Leonardiae

[code]
is actually reversed
[code]

And third hash is probably a block on the same height.

In BTC it takes long time to mine a block and when it is already mined there's little chance that your block on same height will be selected as best, if you mine it a bit later.
So all miners pay attention at network and if new block is created they cancel mining at current height, and start bu

[2020-08-20 15:43] Leonardiae commented on #315
@Warchant Thanks for explaining! This is cool stuff to learn more about.

I learned that there can be a lot of forks with length 1 but for me this raises several questions:

- Why is another hash selected as new best? I could understand if another block was build on that hash, but this was not the case here. the other hash is selected as new best without a new block being found yet (as far as I ha

[2020-08-20 15:45] Leonardiae commented on #315
Actually in this case I got a nice payment :)
DONE     11. COMPLETED                       Paid amount: 866.80518660

[2020-08-20 15:51] Warchant commented on #315
It is hard to say. With our current setup it is very likely that both blocks on same height will have same POP score. In this case, we fallback to FR by chainwork (native FR in bitcoin). If block won, then it is better either by POP score or has higher chainwork.

We did not invest time into changing mining software, generatetoaddress was easiest choice.

[2020-08-20 16:42] Leonardiae commented on #315
Thanks again. Well then I think this is the answer for now. If nessecary in the future I'll circle back to this :)

[2020-08-20 16:42] #315 closed, assigned to nobody

[2020-08-21 13:07] Warchant commented on #164
No longer an issue in beta.

[2020-08-21 13:07] #164 closed, assigned to BernatCarbo

[2020-08-21 13:07] Warchant commented on #168
No longer an issue in beta.

[2020-08-21 13:07] #168 closed, assigned to BernatCarbo

[2020-08-24 08:14] BernatCarbo commented on #306
Solved with: https://github.com/VeriBlock/nodecore/commit/f839a4e30112e6f131c99e5387daddc4088ece7b, now you can pass the limit & offset to display the operations (same as in the API)

[2020-08-24 08:15] #306 closed, assigned to PCasafont, BernatCarbo

[2020-08-24 08:25] Leonardiae commented on #306
Great, thanks!

[2020-09-22 13:00] Leonardiae opened #346 "APM crashes on api call api/quit?restart=true"
When api/quit is called the APM quits but when api/quit?restart=true is called the application crashes:

[code]

[2020-10-14 08:08] BernatCarbo commented on #346
Solved with https://github.com/VeriBlock/nodecore/commit/e5cadd5565ea32161264f007940097983fedda41, thanks!

[2020-10-14 08:08] #346 closed, assigned to PCasafont, BernatCarbo

[2020-11-03 19:08] Leonardiae opened #370 "connected vBitcoin chain () & APM (testnet) are not running on the same configured network"
First getdebuginfo is saying that vBTC and APM are running on the same network, then an error occurs related togetblockchaininfo rpc call and then I get a warning they are not running on the same network:

[code]

[2020-11-03 19:19] Leonardiae opened #371 "Auto mining is started while vBitcoin not synced yet"
Auto mining is started while vBitcoin not synced yet

[code]

[2020-11-03 19:30] Leonardiae commented on #371
Listoperations shows that blocks were indeed mined and paid for:

[code]

[2020-11-03 19:31] Leonardiae commented on #371
To be precise this occured when the APM was connected to the syncing vBTC node and I sended tVBK to the APM. As soon as the APM was funded it started mining.

[2020-11-03 19:35] Leonardiae opened #372 "APM logging about disconnected peers"
I'm seeing this message a lot on the APM (like 50% of the output is about disconnected peers). Maybe it's an idea to provide users with the option to suppress those peer messages? Or maybe it is possible to prevent those disconnections?

[code]

[2020-11-05 11:24] Leonardiae opened #373 "When creating multiple operations in a row APM can't keep up"
When I create several operations in a row to endorse a vBitcoin block only 1 in ~4 is added as a transaction:

2020-11-05 12:20:08 nioEventLo INFO  AltchainPoPMiner          - Created operation [vbtc64611f5f] on chain vBitcoin
2020-11-05 12:20:08 pop-tasks- INFO  ApmTaskService            - [vbtc64611f5f] Getting the mining instruction...
2020-11-05 12:20:08 pop-tasks- INFO  BitcoinFamilyChain

[2020-11-05 12:14] Leonardiae commented on #373
The transaction id's visible in the log above can't be found on the explorer and tasks stay at confirm_endorsement_transaction (in this case) btw

[2020-11-06 13:39] Warchant commented on #371
https://track.veriblock.org/issue/ALT-258
No changes from APM needed. Will be fixed in vBTC.

[2020-11-06 16:00] Leonardiae opened #374 "Nodecore CLI command getpendingtransactions throws an exception with a lot of transactions in local mempool"
[code]

[2020-11-07 12:54] Leonardiae opened #375 "Transactiondetails missing from gettransaction"
Bot on nodecore_cli and the api are the transaction details missing in the response from gettransaction:

[code]

[2020-11-07 16:34] Leonardiae commented on #375
Very weird, often I get all details but not allways but when I try later I get the details:

leonard@leonard:~$ curl -d '{"jsonrpc": "2.0","method": "gettransactions","params": {"searchLength": 1000,"ids": ["B5812F2EEFB71F3AECD5A1848E1C6D534D3DA3E31E8023E2743CBB7271D9A087"]},"id": 1}' -H "Content-Type: application/json" -X POST http://localhost:10620/api
{"jsonrpc":"2.0","result":{"success":true},

[2020-11-09 10:38] Leonardiae commented on #375
Maybe it has something to do with searchLength, can someone give advice on how to set this parameter?
Today this same command did not come with a result again but when I incread searchLength to 100000 it does find a result but it takes minutes.

I used to search with searchLength 1 and always got the details almost immediately but this seems different now.

[2020-11-09 13:04] PCasafont commented on #375
It has always been like that. However, we plan to improve the gettransactions performance with a transaction index. I'll close this for now, though.

[2020-11-09 13:04] #375 closed, assigned to nobody

[2020-11-09 21:08] Warchant commented on #374
@Leonardiae could you please open same issue on Nodecore repo?

[2020-11-10 07:41] Leonardiae commented on #374
@Warchant https://github.com/VeriBlock/nodecore/issues/224
Close this one?

[2020-11-10 07:43] #374 closed, assigned to nobody

[2020-11-10 12:17] Warchant commented on #371
Fixed by #377

[2020-11-10 12:17] #371 closed, assigned to nobody

[2020-11-10 13:10] Leonardiae commented on #371
@Warchant Thanks for improving the header sync speed! But isn't the issue here that the APM starts mining before vBTC is synced? i.e. shouldnt the APM check if vBTC is synced before allowing an auto mine to start?

Getdebuginfo in APM shows if vBTC is synced so i guess this should be possible:
[code]

[2020-11-10 13:13] Warchant commented on #177
Solved

[2020-11-10 13:13] #177 closed, assigned to overcookedpanda

[2020-11-10 13:13] Warchant commented on #179
Already implemented

[2020-11-10 13:13] #179 closed, assigned to BernatCarbo

[2020-11-10 13:21] Warchant commented on #371
APM starts mining because it used `getblockchaininfo` RPC call and saw
[code]
Where `blocks == headers`.

In original Bitcoin clients can decide if node is **not** in sync if `initialblockdownload == true || blocks != headers`.

When POP has been added to vBTC, we were not able to do POP-based fork resolution on headers because they do not have POP data (it is stored in block body), therefore our

[2020-11-10 13:26] Warchant commented on #215
Stale.

[2020-11-10 13:26] #215 closed, assigned to nobody

[2020-11-10 13:26] Warchant commented on #252
That should be fixed.

[2020-11-10 13:26] #252 closed, assigned to nobody

[2020-11-10 13:26] Warchant commented on #256
@PCasafont

[2020-11-10 13:28] Leonardiae commented on #371
@Warchant Now I understand, thanks for explaining!

[2020-11-10 13:32] Warchant commented on #302
1. APM creates VBK TX and sends it to VeriBlock network
2. This VBK TX gets confirmed in `VBK Block Of Proof`
3. APM sends VBK TX, VBK Block Of Proof, Merkle Path that confirms tx is in this VBK block to vBTC -> this is known as ATV
4. ATV is accepted to vBTC mempool and if it is valid, it will be accepted in next vBTC block
5. Lets suppose this ATV is accepted in vBTC100, and payoutDelay is 50, t

[2020-11-10 13:32] #302 closed, assigned to PCasafont, BernatCarbo

[2020-11-10 13:35] Warchant commented on #309
This is related to performance of vBTC during large POP FRs. vBTC locks `cs_main` lock to make state change from a single thread, therefore all other operations that also lock `cs_main` will wait until `cs_main` is unlocked.
In gamma performance has been improved, therefore this problem has become much less noticeable.

[2020-11-10 13:35] #309 closed, assigned to nobody

[2020-11-10 13:36] Warchant commented on #310
@Leonardiae Could you retest? Things should be much better with this in NodeCore.

[2020-11-10 13:38] Warchant commented on #373
Should be fixed after https://github.com/VeriBlock/nodecore/pull/223

[2020-11-10 13:39] Warchant commented on #372
@Leonardiae hm. That means that local SPV node (embedded into APM) keeps disconnecting from remote peers.
That does not happen often when we test APM.

Could you provide more details? Maybe your internet kept disconnecting around that time?

[2020-11-10 13:40] Warchant commented on #370
Show your APM config please.

[2020-11-10 13:58] Warchant commented on #208
Should be fixed now

[2020-11-10 13:58] #208 closed, assigned to BernatCarbo

[2020-11-10 15:44] Leonardiae commented on #370
Note: This happens while vBTC is syncing and InitialBlockDownload=true

[code]
I just tried to reproduce this and it happened again (delete testner3 folder from data, start vbitcoin-qt, start APM):
[code]

[2020-11-10 16:01] Leonardiae commented on #372
@Warchant My internet connection is stable. I'm seeing this message very often, for a week now. But it's always peer 94.130.147.194:7501, while the log shows that connections with other peers are made:
[code]

[2020-11-10 16:33] Warchant commented on #372
@Leonardiae ah! It is possible that this peer is old and does not have SPV capabilities. I will double check and get back with results.

[2020-11-10 16:37] Warchant commented on #372
@Leonardiae it seems that your node is blacklisted on that peer.

[2020-11-10 16:48] Warchant commented on #370
Try

[code]

[2020-12-10 18:52] Leonardiae opened #403 "Getoperationlogs gives no info"
[code]

But I expect a response, because Getoperations show there is info:

[code]

[2020-12-10 18:56] Leonardiae opened #404 "Unable to find transaction 5379583AED64901D8E2BA7EC6D61B9BA206491EDCFF75F03641C730320ED8E58 in the monitored address"
Operation failed because of reason: Unable to find transaction 5379583AED64901D8E2BA7EC6D61B9BA206491EDCFF75F03641C730320ED8E58 in the monitored address

But the transaction can be found on the blockchain: https://testnet.explore.veriblock.org/tx/5379583AED64901D8E2BA7EC6D61B9BA206491EDCFF75F03641C730320ED8E58

getoperation phl3f40d3cc
Operation data:
{
  "operationId": "phl3f40d3cc",
  "chain": "

[2020-12-10 19:01] Leonardiae opened #405 "auto mining set to off but still message: - Retrieving mining instruction"
When auto mining is off (autoMineRounds=[]) the APM still displays:

`2020-12-10 19:52:40 si-poll    INFO  BitcoinFamilyChain        - Retrieving mining instruction at height 1379 from PHL daemon at http://localhost:16608...`

No operation is actually started, it's just the info message which I did not expect to get.

[code]

[2020-12-11 07:50] Leonardiae opened #406 "Unable to find PHL PoP payout transaction in the expected block's coinbase"
All my operations fail because of this reason and I'm not receiving a reward in the wallet:

[code]

[2020-12-11 09:39] PCasafont commented on #405
This is related to the auto-submission of VBK context in a background thread, not related to mining :)

[2020-12-11 09:39] #405 closed, assigned to PCasafont

[2020-12-11 10:35] Warchant commented on #406
Your publication is on chain

[code]

But it seems that APM fails to detect that.

APM expected to see payout on a block 1504, but actually it occurred on block 1506

[2020-12-11 12:25] Leonardiae commented on #406
Also no incoming transactions with payments in my PHL wallet containing the address I used in the APM config file.

[2020-12-14 15:34] BernatCarbo commented on #403
Solved with https://github.com/VeriBlock/nodecore/commit/549780dbfd4dc8447649d8b7a6974a90f9b003d3

[2020-12-14 15:34] #403 closed, assigned to nobody

[2020-12-14 16:37] Warchant commented on #406
Should be resolved ^.

Reopen if not.

[2020-12-14 16:37] #406 closed, assigned to nobody

[2020-12-28 10:17] Warchant commented on #176
Reopen if this still persists.

[2020-12-28 10:17] #176 closed, assigned to nobody

[2020-12-28 17:16] Warchant commented on #256
Should be fixed now. Reopen if not.

[2020-12-28 17:16] #256 closed, assigned to PCasafont, BernatCarbo

[2021-01-04 18:16] Leonardiae commented on #372
My node being blacklisted was apparently the cause of me getting a load of those info messages. Recently this is not an issue to me anymore. I get this message now and then but thats ok (only a few times a day now).

[2021-01-04 18:16] #372 closed, assigned to nobody

[2021-01-04 18:17] Leonardiae commented on #370
Looks like this extra line indeed fixes this error, I can't reproduce this anymore.

[2021-01-04 18:17] #370 closed, assigned to nobody

[2021-01-04 18:22] Leonardiae commented on #310
Still seeing these errors in my logs (also without stresstesting). Few times a day:

[code]

[2021-07-26 08:50] Mr-Leshiy commented on #404
This problem related to the Nodecore. `Step 3` it is submitting transaction in the VeriBlock blockchain.

[2021-07-26 08:50] #404 closed, assigned to nobody

[2021-07-26 08:51] #373 closed, assigned to nobody

[2021-07-26 08:52] Mr-Leshiy commented on #310
Nodecore related, closed

[2021-07-26 08:52] #310 closed, assigned to PCasafont, overcookedpanda, BernatCarbo

[2021-07-26 08:52] Mr-Leshiy commented on #207
APM related, closed.

[2021-07-26 08:52] #207 closed, assigned to BernatCarbo

[2021-09-14 14:41] timstall opened #549 "Make BTCSQ daemon sync faster even with huge amounts of ATV pop transactions"

[2021-09-28 09:39] Warchant commented on #549
This should be addressed by #560

[2021-09-29 18:32] #549 closed, assigned to nobody

[2021-10-09 02:31] Davbit1 opened #573 "pop Transactions with no Value"
Rhev from the Discord Server is receiving pop tx without value.
There a exemple:
![image](https://user-images.githubusercontent.com/56003168/136640927-7f1ccb09-f707-444e-af6c-b929a89c0b05.png)

And a tx id: https://testnet.explore.vbtc.veriblock.org/tx/bc6f96d69a53f4cc8f66f0ac40abd661d6a8abf917d0964600ac489c3442b9ce
He have 392 transactions that aren't reporting correctly to the wallet
Apart from

[2021-10-09 02:39] Davbit1 opened #574 "Spendable Block high is lower than the current block"
Spendable in block # or later looks to be lower than the blocks themselves

https://testnet.explore.vbtc.veriblock.org/tx/bc6f96d69a53f4cc8f66f0ac40abd661d6a8abf917d0964600ac489c3442b9ce
Block 49.450
Spendable in block #49,385 or later

Why that ?

[2021-10-14 13:22] overcookedpanda opened #579 "Unable to import private key or wallet for phase 1 testnet address."
[code]
[code]

[2021-10-15 09:57] Warchant commented on #574
@Davbit1 can easily be explorer display error.

[2021-10-15 09:57] #574 closed, assigned to nobody

[2021-10-18 13:44] Warchant commented on #573
Where did you capture this screenshot from?

[2021-10-19 13:04] Warchant commented on #579
Use this script https://gist.github.com/Warchant/92f635b178e575315cd9b4553a9c17f6

[2021-10-19 13:04] #579 closed, assigned to Warchant

[2021-11-04 14:47] Mr-Leshiy opened #593 "Stateful duplication / Finalization issue"
On the current network have found an issue with the block `10815` height `7252f9f7a1b973854726de0d861541d4545f468b7757f8683603000000000000` hash.
 This block has a duplicated pop data:

[code]

The main issue with that current network splits into two one, who rejects this block and who accepts this block (on the same node versions) which leads to the network state inconsistency.

[2021-11-05 09:25] Mr-Leshiy opened #594 "Potential deadlock detected assertion failure"
btcsq_1     | 2021-10-28T16:27:21Z UpdateTip: new best=ALT:7903:00000000000000578a3c6d8b03e5ee1ec2f8015cdbe3e9968fdbd32cf03cd397 VBK:2634157:00000000035a8366ed85cb66b1ed8cc235db0ce792a276f5 BTC:706857:00000000000000000000e4030d68c494269691│··············
70097f8492c2563b7f9173e884 version=0x20080000 log2_work=68.381878 tx=8908 date='2021-10-28T16:26:52Z' progress=0.999970 cache=8.7MiB(64168txo)

[2021-11-05 09:25] Mr-Leshiy opened #595 "Slow POP FR test case"
1. Node 1 has 100 orphans and on block 100
2. Node 2 sends to node 1 block 110. It is important that Node1 should have headers of blocks 101...110 but not block bodies.
3. This should trigger "FindBestChain" function. If not - all good.

[2021-11-05 13:10] Leonardiae opened #596 "Some block hashes are shown in reverse order"
Using: BTCSQ Core version v0.19.99.0-9fa6fa0

Some block hashes are shown on the console in reverse order. For example block 12773 has hash 000000000000021d21309939d1cf9c0b601aabcde1783d471ded9b5633cea5d3 but is also shown as d3a5ce33569bed1d473d78e1cdab1a600b9ccfd1399930211d02000000000000.

`2021-11-05T13:04:39Z [alt-cpp] [warn] comparePopScore: Comparing two chains. Current tip: ALT:12772:be7147

[2021-11-05 13:15] Leonardiae opened #597 "No new blocks are added without setting connect= or addnode= in conf"
When I run with connect=x.x.x.x I find peers.
When I run with addnode=x.x.x.x I find peers
When I run without connect= / addnode= in btcsq.conf I don't find peers and getpeerinfo shows no result.

[2021-11-08 15:10] timstall opened #599 "Altchain network health monitoring tool"
Shipped.

On wiki:
https://wiki.veriblock.org/index.php/Altchain_PoP_Health_Monitor

[2021-11-08 17:01] IsmaelAznarCarmona opened #600 "Created a lot of transactions and did not get any payment"
Theknystar#4167 and Chuck N.#4295 created a lot of transactions and didnt get any payment and that could be related with  ATV is not known on the btcsq network. They get timeout messages that transaction did not get confirmed.
Discord users `Theknystar#4167` and `Chuck N.#4295` discovering this issue

[2021-11-08 17:06] IsmaelAznarCarmona opened #601 "Created a lot of transactions and did not get any payment"
Theknystar#4167 and Chuck N.bitcoin#4295 created a lot of transactions and didnt get any payment and that could be related with ATV is not known on the btcsq network. They get timeout messages that transaction did not get confirmed.
Discord users Theknystar#4167 and Chuck N.#4295 discovering this issue

[2021-11-08 17:06] #600 closed, assigned to nobody

[2021-11-09 15:49] Leonardiae opened #602 "VBTC-qt closes on window resize"
When you resize the btcsq window the wallet closes without a warning. Debug.log shows:

[code]

[2021-11-11 12:52] Mr-Leshiy commented on #595
Related PR https://github.com/VeriBlock/vbk-ri-btc/pull/598

[2021-11-12 10:37] #595 closed, assigned to blackyblack

[2021-11-12 10:39] Mr-Leshiy opened #604 "Avoid unnecessary POP fork resolutions"
POP fork resolution (FR) is executed for blocks that cannot be connected to the current chain. Eg we want to connect block 203 and block 202 is missing but block 202 header exists.
We want to execute POP FR on connecting blocks only.

[2021-11-15 17:20] Warchant commented on #594
What is the status? @Mr-Leshiy

[2021-11-15 17:27] Warchant commented on #596
It is known issue. In short, we won't fix it in short/mid term, because it is only a "display" issue, not logic issue.
Fix for this may sound simple, but it is not.
It will hurt in long-term because some altchains may not put their hashes in "reversed" order to alt-integration-cpp.

Blame Satoshi Nakamoto for reversing hash in uint256 implementation in Bitcoin.

[2021-11-15 17:28] Warchant commented on #597
Duplicate of https://github.com/VeriBlock/vbk-ri-btc/issues/593

[2021-11-15 17:28] #597 closed, assigned to nobody

[2021-11-16 14:22] Warchant opened #608 "Update "spend coinbase tx functional test" to include P2PKH and P2SH"
In this test we check that users can spend their coinbase tx.
https://github.com/VeriBlock/vbk-ri-btc/blob/master/test/functional/feature_pop_spend_gb_coinbase.py#L42-L44

But this coinbase tx only contains segwit payout.

The task is to generate new regtest genesis block, which will contain payouts:
1. P2PKH - script starts with 76a914
2. P2SH - script starts with a914
3. Segwit payouts - script

[2021-11-16 14:27] Warchant commented on #608
btcsq-cli getnewaddress "" legacy

btcsq-cli validateaddress $addr

btcsq-cli dumpprivkey $addr

[2021-11-16 21:31] #608 closed, assigned to Mr-Leshiy

[2021-11-17 13:06] Warchant commented on #604
What is the status? @blackyblack

[2021-11-17 13:19] blackyblack commented on #604
Done.

[2021-11-17 13:19] #604 closed, assigned to blackyblack

[2021-11-19 11:03] Mr-Leshiy opened #614 "Fix Linux asan CI failing"
Currently we have the following job failing in the master branch https://github.com/VeriBlock/vbk-ri-btc/runs/4252725666?check_suite_focus=true. Need to fix `linux-asan` action.

[2021-11-19 12:41] blackyblack commented on #614
Bitcoin QT actually contains memory leaks:
[code]
We do not want to fix original Bitcoin code so I propose to remove QT from linux-asan CI task.

[2021-11-21 19:55] #614 closed, assigned to blackyblack

[2021-12-06 17:45] overcookedpanda opened #621 "ABFI Status not showing correctly on QT Wallet Transaction Details"
Within the config file you can specify `bfiendpoint=https://testnet.abfi.veriblock.org/`

When someone clicks on the transaction details, it should take the altchain ID (%1) and the txid (%2) and formulate the url as below:

https://testnet.abfi.veriblock.org/%1/chains/transactions/%2

It should then show the 'bitcoinFinality' of the transaction that it gets back from the API.

There are no errors

[2021-12-06 17:53] timstall commented on #621
This corresponds to what one would see in the explorer, such as:
https://testnet.explore.vbtc.veriblock.org/tx/f445862c48bebe032cc9c9d4792af59bbdb3eff2132b428db892743efcff8b08
![image](https://user-images.githubusercontent.com/9978739/144896677-fe9c428f-4f47-4ace-9d7f-5805afcd6175.png)

Full API:
https://testnet.abfi.veriblock.org/16579303907010303/chains/transactions/f445862c48bebe032cc9c9d4792af

[2021-12-07 11:05] Warchant commented on #602
This is something from original BTC I suppose

[2021-12-07 16:24] #621 closed, assigned to Warchant

[2021-12-07 16:31] Warchant commented on #594
Low priority because it is no longer shows up. Test is not implemented on a fix yet.

[2021-12-08 18:42] Warchant opened #624 "Fix flaky "feature_pop_sync.py" test"
This functional test is flaky:
feature_pop_sync.py                           | ✖ Failed  | 115 s

Task is to figure out why and to fix it.

[2021-12-10 07:51] Leonardiae opened #628 "Assert error when zmqpubrawblock/zmqpubhashblock port is in use"
When the zmqpubrawblock / zmqpubhashblock port is already in use (by another BTCSQ daemon) then an assertion failed error appears.

[code]

I'd expect a human readable error like when the rpcport is in use:

`Error: Unable to start HTTP server. See debug log for details.`

[2021-12-10 08:51] Warchant commented on #624
Fixed by #626

[2021-12-10 11:21] Warchant commented on #628
Yeah... must be something we inherited from BTC

[2021-12-22 19:41] IsmaelAznarCarmona opened #633 "Qt wallet is giving aggregated balance"
Qt is giving aggregated balance from all the imported addresses, but we are not able to see which addresses that balance comes from through neither UI nor CLI

[2021-12-23 08:51] Leonardiae commented on #633
Go to 'Settings', tab 'Wallet' and make sure 'Enable coin controle features' is enabled.
Then go to 'Send' and click 'Inputs'. Make sure 'Tree mode' is selected.
I think this makes visible where the aggregated balance is based off.

One can also use the command listaddressgroupings

[2021-12-23 08:52] Warchant commented on #633
I believe those coins that you think are "out of thin air" is just part of genesis coins. Will check shortly.

[2021-12-23 10:09] Warchant commented on #633
`listreceivedbyaddress` returned 10% of my coins, but `listunspent` returned all coins.

That is because `listreceivedbyaddress` by default skips coinbase transactions:
![image](https://user-images.githubusercontent.com/1867551/147224939-72b3458d-0060-447f-8c7b-a2c94c7610ce.png)

TLDR: QT is correct about showing you your total balance.

[2021-12-23 10:09] #633 closed, assigned to Warchant

[2021-12-23 11:18] IsmaelAznarCarmona commented on #633
With tree mode we where able to look at all the addresses and see the correct total balance.

[2022-01-04 13:06] Warchant opened #634 "Use shim libboost.so instead of specific version libboost-1.71.0.so during linking"
This will decouple BTCSQ from specific boost version.
Use `ldd` on `btcsqd` to get a list of libraries. See of a binary depends on `libboost-1.71.0.so` or `libboost.so`. We want the latter.

[2022-01-08 11:30] Warchant commented on #624
Appears to not fixed https://github.com/VeriBlock/vbk-ri-btc/runs/4747622960?check_suite_focus=true

[2022-01-17 15:24] Warchant opened #647 "Add comments to "BTCSQ-specific" POP code"
We need to distinguish between potentially "shareable" code for POP integration, and BTCSQ-specific POP-related code.

[2022-01-20 08:50] Leonardiae opened #650 "Output order"
BTCSQ blocks have the PoW reward as the last output

It looks as if third parties (ChainZ / Miningpoolstats) use the first output to recognise who / which pool found that block. But in the case of BTCSQ this results in showing the address of a random PoP miner (the one who first appears in the list sorted by address it seems)

Not sure if there is an official convention but for other blockchains u

[2022-01-26 18:08] timstall opened #651 "vBTC QT - <hr>Warning: unknown new rules activated (versionbit 19)"

[2022-01-29 17:39] #651 closed, assigned to blackyblack

[2022-01-31 10:04] Warchant commented on #650
Output order is not strictly defined. Our pool adds POW payout as last payout, whereas `generatetoaddress` in BTCSQd as first. If we limit to either variant, then it means a hard fork in BTCSQ... Not sure it is worth it.

[2022-01-31 10:32] Leonardiae commented on #650
Maybe we can save this and implement if we have a hardfork in the future?
Can we change it already for altchains who implement PoP?

[2022-02-03 08:19] Mr-Leshiy commented on #594
It appears again, here is the log:
[code]

[2022-02-07 09:15] Warchant opened #661 "Add raptoreum CPU hashing algorithm"
BTCSQ should use hashining algorithm which is calculated on CPUs. One example is raptoreum -
https://github.com/HatcherMine/Raptoreum-Miner/tree/main/algo/gr
https://github.com/Raptor3um/raptoreum/blob/master/src/primitives/block.cpp#L33-L46

Tasks:
- [ ] VeriBlock/vbk-ri-btc#662
- [ ] VeriBlock/nodecore-js#49
- [ ] https://github.com/VeriBlock/vbk-ri-stratum-pool/issues/5
- [ ] https://github.com

[2022-02-07 09:15] Warchant opened #662 "Add CPU hash to BTCSQ"
Use sha256d as block hash in regtest, detregtest. Use gr as block hash in mainnet/testnet in new branch trunk/grhash.

[2022-02-08 14:05] #594 closed, assigned to Mr-Leshiy

[2022-02-09 17:42] #628 closed, assigned to Mr-Leshiy

[2022-02-15 08:10] #624 closed, assigned to Mr-Leshiy

[2022-03-07 09:24] Mr-Leshiy opened #679 "AddressSanitizer: heap-use-after-free on address x READ of size 8 at x thread T55 (b-msghand) - is located 32 bytes inside of 48-byte region"
[code]

[2022-03-07 15:29] Mr-Leshiy opened #680 "Daemon crash issue"
Heres a debug, it have like 3-4 crash, the crash increased frequeitnly, it havent lasted even 1 day for the last one

https://drive.google.com/drive/folders/1HkNKaaexdGzHY9Nmu8eeveuCWPGqvoJ0

[2022-03-07 15:51] Skemba opened #681 "Many nodes exiting with 139 code when PoW mining isn't producing new blocks in a while"

[2022-03-07 16:10] IsmaelAznarCarmona opened #691 "Discord user have problems BTCSQ PoW Mining"
Texonja had problems PoW mining didn't get any reward at all  he rented an S9. Also mined several hours on Dev pool , didn't get any payment. Mined also on reborn pool and get payment manualy when contacted him.

[2022-03-07 16:19] IsmaelAznarCarmona opened #689 "APM Rejecting transaction issue, invalid signature index"
sigindex user logs:

Altcoin-pop-miner (altchain-pop-miner-0.4.13-rc.12.dev.5)
2022-03-05 10:12:31 si-poll    INFO  AltchainPopMinerService   - Created operation [btcsqe54b8f3e] on chain BTCSQ at block @56318
2022-03-05 10:12:31 pop-tasks- INFO  ApmTaskService            - [btcsqe54b8f3e] Getting the mining instruction...
2022-03-05 10:12:31 pop-tasks- INFO  ApmTaskService            - [btcsqe54b8

[2022-03-07 16:24] IsmaelAznarCarmona opened #690 "franmf discord user pop miner issue"
![image](https://user-images.githubusercontent.com/23527556/157074716-0f38c7a3-1cb4-4950-990d-be0a1cf88303.png)

Franmf was testing with 3 miners each with a different wallet. the case is that he noticed that they started to show this error, and he's not even able to confirm the block. They are sharing same nodecore, could this be related ?

[2022-03-07 19:02] Leonardiae commented on #690
I think this one is explainable. For some reason the mempool had >10,000 transactions around that time (March 5). So most likely the (average) fee of those transactions was not high enough to be mined within an hour and then this happens.

ALT-743 improved this error, maybe this has not been released yet.

[2022-03-08 10:29] IsmaelAznarCarmona commented on #691
Texonja comment me this :
Here  where he rent the machines to mine: https://www.miningrigrentals.com/rigs/sha256
Usually, that's 10 - 14 THs.. Everything worked ok 1 month ago and then problems with BTCSQ node started (I've contacted @reborn , since he is the owner of pool http://157.90.212.111/getting_started ). He told me there are problems with node and there is like 50%+ orphaned blocks. Even

[2022-03-10 09:46] Mr-Leshiy commented on #680
@Ismatest , can we get more info about this crash, because from the logs it is not quit clear what was happen, there is no any crash report in the logs

[2022-03-10 09:52] Mr-Leshiy commented on #689
@Ismatest , @timstall It is an issue of the APM, should be moved in that repo.
P.S. it seems that it is a known problem, restart of the APM should help with the transaction problem.

[2022-03-10 09:55] Mr-Leshiy commented on #681
@Skemba, do we have `debug.log` logs for this issue ?

[2022-03-10 10:46] IsmaelAznarCarmona commented on #680
Will try to get more info . Do you need anything on specific @Mr-Leshiy ?

[2022-03-10 11:00] Mr-Leshiy commented on #679
@Leonardiae ,do we have a full `debug.log` for this issue ?

[2022-03-10 12:08] Mr-Leshiy commented on #680
@Ismatest , maybe you can ask what was happened before the crash, was any other `messaging` about crash.
Because currently in that log file there are no any info about the crash or any issue, everything looks fine, just on some place logging has been stopped.

[2022-03-10 12:24] IsmaelAznarCarmona commented on #680
@Mr-Leshiy
User comment :

Only required things running for the pop mining. No further error, the btcsq wallet simply closing
this wallet have been running since the release, it was stable for a long time too
vps have overall 14gb ram and 6core cpu (with sufficient space)
it was running with 12gb, recently i increased to 14gb in case of some kind of increased memory usage but that havent helped.

[2022-03-10 12:46] Mr-Leshiy commented on #679
Close this issue, not enough info to determine what was the problem

[2022-03-10 12:46] #679 closed, assigned to nobody

[2022-03-11 20:11] IsmaelAznarCarmona opened #695 "Operation Timed out on PoP miner"
![image (62)](https://user-images.githubusercontent.com/23527556/157951944-53f1b0ae-9c3c-410f-836d-7e35e52be989.png)

Operation times out on PoP miner if the fee is too low.  The default fee is too low so after an hour of mining this error appears, after if you change the fee it works fine after submiting all the trasactions with the first fee.
Maybe we should change the message for ( Your fee is

[2022-03-12 06:14] Leonardiae commented on #695
There was already an issue to change the message (and remove the stacktrace) not sure why it hasnt been release yet (ALT-743).

Regarding changing the default fee I dont think changing that changes anything because when everyone uses that new default fee the same happens but at a higher fee. Only solution is that PoP miners set their fees based on current mempool situation or switch PoP mining off

[2022-03-15 11:21] Mr-Leshiy opened #696 "Optional finalization"
- Add new config option for enabling and disabling finalization
- By default finalization disabled

[2022-03-15 13:51] Skemba commented on #681
@Leonardiae might have them as he was the first one to notice the issue. It was the network-wide problem that Max jumped in to look at

[2022-03-15 14:15] timstall commented on #689
Likely solved by https://github.com/VeriBlock/nodecore/issues/321

[2022-03-15 16:32] Leonardiae commented on #681
debug.log did not contain extra information unfortunately.

[2022-03-16 09:33] #689 closed, assigned to Mr-Leshiy

[2022-03-16 14:15] Mr-Leshiy commented on #696
Have added as a part of this PR https://github.com/VeriBlock/vbk-ri-btc/pull/693

[2022-03-16 14:15] #696 closed, assigned to Mr-Leshiy

[2022-03-24 12:27] Mr-Leshiy opened #699 "Sync issue, can not accept new block"
<img width="1792" alt="Screenshot 2022-03-23 at 11 42 29" src="https://user-images.githubusercontent.com/20208513/159915972-72e26120-5e99-4298-a145-50d29b726b23.png">

[2022-04-04 15:37] Mr-Leshiy opened #704 "Sync issue with the downloaded state"
[code]

[2022-04-06 10:52] Mr-Leshiy commented on #699
This test case is correctly reproduced by the following test case https://github.com/VeriBlock/alt-integration-cpp/pull/978. Currently the updated vbk and btc params should decreases the probability of appearing of this issue, but the final fix will appear after we will add an a VBK SPV verification for the VbkBlocks, this will be described in the further alt-intefration-cpp issues.

[2022-04-06 10:52] #699 closed, assigned to Mr-Leshiy

[2022-04-11 11:13] Mr-Leshiy commented on #704
Generally it is easy fixes with the reseting state.
Can not determine what was the original cause of the state corruption.

[2022-04-11 11:13] #704 closed, assigned to Mr-Leshiy

[2022-04-11 15:52] Skemba opened #706 "BTCSQ died unexpectedly on APM-connected node"
BTCSQ version - master-40feab1
After node restart everything was back to normal

output screenshot, debug log and config (can't attach .conf file so added as .txt) are all attached

[2.log](https://github.com/VeriBlock/vbk-ri-btc/files/8465642/2.log)
<img width="1784" alt="Screenshot 2022-04-11 at 17 34 15" src="https://user-images.githubusercontent.com/8813875/162779199-e922cc23-4cfe-41bb-894c-eb

[2022-04-22 08:03] Mr-Leshiy opened #708 "Node accepting block issue, wrong-payout"
[code]

[2022-04-25 04:18] Leonardiae opened #709 "Pool does not include ATV (and VTB / VBK) in new block"
When a pool is connected to a BTCSQ node which is just synced from a clean state and the network was not producing blocks for a while during the syncing then the blocks produced by the pool dont include ATV / VTB / VBKs.

It looks like the reason is that (some) VBKs are not known by the pool and thus not is able to include ATV / VTB / VBK because when another pool mines blocks providing those bloc

[2022-04-26 05:58] Leonardiae opened #710 "Pool crashed showing lots of http work queue depth exceeded"
[code]

I had configured the setting in the btcsq daemon used by the pool in btcsq.conf to:
`rpcworkqueue=10000`

[2022-04-26 17:02] Mr-Leshiy commented on #708
The reason of why we are getting such errors, is that nodes have different state, so on the one node state was corrupted. Unfortunately at least at this point it is not possible to reproduce it, so I am going to close this issue.
Close this issue

[2022-04-26 17:02] #708 closed, assigned to Mr-Leshiy

[2022-05-02 14:33] #709 closed, assigned to Mr-Leshiy

[2022-05-02 17:33] Warchant commented on #710
Don't make work queue too long. Maybe 100 or less is best value. It should not crash with small values.

[2022-05-09 17:04] overcookedpanda commented on #710
I experienced this bug today with APM and pool connected to the node using a value of 256 which I have used in the past with most pools, will try to re-configure using 100, but it seems with lower values it still occurs.

[2022-05-16 18:06] Mr-Leshiy opened #714 "Fix macos CI build"

[2022-05-17 12:14] #714 closed, assigned to Mr-Leshiy

[2022-05-19 09:39] Mr-Leshiy opened #716 "Update getrawpopmempool rpc function, and add another new one to get data from the mempool"
Need to update existing `getrawpopmempool` to get all payloads which are included inside the mempool (active and inFlight).
Also need to add a separate rpc function with the current `getrawpopmempool` functionality, returns the list of payloads which was considered to be added as a `PopData` into the block.

[2022-05-19 18:52] reb0rn21 commented on #710
if you put less then ~1000 when there is a lot POP on network, node just respond that RPC queue is at limit, I tried less and more, even pushed open files in linux to more as its crash the node with open file limit

for me when i see the btcsq process use one full core CPU 100% (and mostly it does) its just matter of them when node will get slow and RPC will get full queue
that need to be sorted o

[2022-05-24 08:00] #716 closed, assigned to Mr-Leshiy

[2022-05-24 12:53] Mr-Leshiy opened #717 "Sync issue, invalid payloads applying (finalization mode)."
Deployed node with finalization not possible to sync up to the current state.

`2022-05-23T07:09:23Z UpdateTip: new best=ALT:95001:0000000000000556eb6896c3c847db55d3073d89942ae6cbe09ed4e1e6981c4c VBK:3212299:000000000c0bf76cf1681c29b1535aaa98692bd599dee0bc BTC:735498:000000000000000000036d3be8e84af55f0dd5c9d96facd0ada966a01dcf93da version=0x20080000 log2_work=70.626842 tx=127788 date='2022-05-18T0